*{
    margin: 0;
    width: 600px;
    
}
html{
    background-image: url(img/laboratory.png);
}

#title{
    text-align: center;
}

#anios{
    text-align: center;
}
.btn{
    margin: 10px;
    width: 150px;
}

#meses{
    text-align: center;
}

#content{
    text-align: center;
}
input{
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: center;
    width: 50px;
}